#ContenedorPrincipal {
    width: 100%;
    margin: 10px auto; /* Centra el contenedor al inicio de la página */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#formulario {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#contenedorCedula,
#contenedorCamara {
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}

#titulocedula,
#titulovideopersona {
    text-align: ;
    font-weight: bold;
    margin-bottom: 10px;
}

#capturavideo,
#capturacedula {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#contenedorresultados {
    display: flex;
    border: 2px solid black;
    padding: 5px;
}
#etiquetascedula,
#etiquetascara {
    
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
    }

#botonactivar,
#enviarvideos {
    border: 2px solid black;
    
    
}
#resultadosvalidacion {
    float: left;
}

