<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_fom_carga.css">
    <title>Formulario de Carga</title>

</head>
<body class="bg-light">
    <div class="titulo-container">
        <h2 class="titulo-verificacion">Verificar Información del Usuario</h2>
    </div>

    <div class="recuadro-container">
        <!-- Recuadro Izquierdo -->
        <div class="recuadro recuadro-izquierdo">
            <h3 class="titulo-recuadro">¿Me muestras tu cédula de identidad?</h3>
            <div class="imagen-container" id="cedula-imagen">
                <!-- Imagen de ejemplo de cédula -->
                <img src="/static/cedulaejemplo.png" alt="Ejemplo Cédula" class="ejemplo-imagen">
            </div>
            <input type="file" accept="image/*" capture="camera" class="form-control" id="cedula" name="cedula" required>
        </div>

        <!-- Recuadro Derecho -->
        <div class="recuadro recuadro-derecho">
            <h3 class="titulo-recuadro">¿Me dejas tomar una selfie?</h3>
            <button type="button" onclick="activarDesactivarCamara()" class="btn-captura" id="btnCaptura">Activar Cámara</button>
            <div class="imagen-container" id="captura-imagen">
                <!-- Aquí se mostrará la cámara y la imagen capturada -->
                <video id="camara" width="100%" height="auto" style="display: none;" playsinline autoplay muted></video>
            </div>
        </div>
    </div>

    <!-- Contenedor del botón y recuadros -->
    <div class="btn-container">
        <form action="/formulario_carga" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-success">Enviar Formulario</button>
        </form>
    </div>

    <div class="informacion-adicional">
        <p class="texto-izquierda">¡Tranquilo! Tus datos no serán almacenados, solo se usarán para validar tu identidad :)</p>
        <img src="/static/rekognition.png" alt="Amazon rekognition" class="logo-derecha">
    </div>

    <!-- Agrega el script JavaScript para la captura de la cámara -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script>
        let camaraActivada = false;

        async function activarDesactivarCamara() {
            const video = document.getElementById('camara');
            const botonCaptura = document.getElementById('btnCaptura');

            try {
                if (!camaraActivada) {
                    // Activar la cámara
                    const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                    handleSuccess(stream);
                    video.style.display = 'block';
                    botonCaptura.textContent = 'Tomar Captura';
                } else {
                    // Desactivar la cámara
                    const stream = video.srcObject;
                    const tracks = stream.getTracks();

                    tracks.forEach(track => track.stop());
                    video.srcObject = null;
                    video.style.display = 'none';
                    botonCaptura.textContent = 'Activar Cámara';
                }

                camaraActivada = !camaraActivada;
            } catch (error) {
                console.error('Error al acceder a la cámara:', error);
            }
        }

        function handleSuccess(stream) {
            window.stream = stream;
            video.srcObject = stream;
        }
    </script>
</body>
</html>
